


.filters_project {

  padding-top: 50px;
  padding-bottom: 50px;


  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight:bold;
    list-style:none;
    margin: 0;
    padding: 0;
    li {
      margin-right: 15px;
      // width: 25%;
      display: flex;
      @include lg {
        width: auto;
      }

      a {
        font-weight: 700;
        font-size:20px;
        &:after {
          margin-top: 10px;
          display: block;
          content: "";
          width: 100px;
          height: 15px;
          transition: .5s;
        }
      }
    }
  }

  li.filter_farm {
    a {
      color: #A3A81C;
      text-decoration: none;
    }
    a:after {
      background: #A3A81C;
    }
  }
  li.filter_commercial {
    a {
      color: #7099B1;
      text-decoration: none;
    }
    a:after {
      background: #7099B1;
    }
  }
  li.filter_homes, li.filter_home {
    a {
      color: #B9AC89;
      text-decoration: none;
    }
    a:after {
      background: #B9AC89;
      text-decoration: none;
    }
  }
  li.filter_developments {
    a {
      color: #A687B2;
      text-decoration: none;
    }
    a:after {
      background: #A687B2;
    }
  }
  li.filter_all {
    a {
      color: #464646;
      text-decoration: none;
    }
    a:after {
      background: #464646;
    }
  }

}

.news {

  padding: 50px 0;

  &-item {
    padding: 0 7.5px !important;
    margin-bottom: 50px;

    &_date {
      font-size: 15px;
      color: rgba(0, 0, 0, .43);
      font-weight: 700;
    }

    &_wrap {
      position: relative;
    }

    &_cat {
      color: #DB0812;
      position: absolute;
      bottom: 0;
      left: 15px;
    }

    .hover {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      position: absolute;
      background: rgba(36,38,36,.9);
      padding: 15px;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      @include xxxl {
        padding: 20px;
        top: 25px;
        left: 25px;
        right: 25px;
        bottom: 25px;
      }

      // display: none;
      transition: .5s;
      opacity: 0;
      color: #fff;
      p {
        font-size: .75em;
        @include xxl {
          font-size: 1em;
        }
      }
      p.position {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 25px;
        @include xxl {
          margin-bottom: 50px;
        }
      }
      p.name {

        font-weight: 700;
        margin-bottom: 25px;
        @include xxl {
          margin-bottom: 50px;
          font-size: 24px;
        }
      }
      a {
        color: #C4080F;
        font-weight: 700;
        &:hover {
          color: #fff;
        }
      }
    }

    &:hover {
      .hover {
        // display: block;
        opacity: 1;
      }
    }


  }

  .pagination {
    margin-top: 50px;
    margin-bottom: 50px;
    background: #2B2B2B;
    color: #fff;
    text-align: center;
    border-radius: 0;
    padding: 20px;
    .prev {
      margin-right: 25px;
      @include md {
        margin-right: 50px;
      }

    }
    .next {
      margin-left: 25px;
      @include md {
        margin-left: 50px;
      }

    }
     a {
       color: #fff;
       text-transform: uppercase;
       font-weight: 600;
       font-size: .75em;
       @include md {
         font-size: 1em;
       }
       &:hover {
         color: #DB0812;
       }
     }
  }


}

.single-news {
  padding-top: 0 !important;
  padding-bottom: 50px;

  &_wrapper {
    padding-top: 50px;
  }

  p.entry-title {
    word-wrap: break-word;
    color: #000;
    font-weight: 700;
    font-size: 25px;
    text-transform: none;
    padding: 15px 0;
    color: rgba(3, 13, 54, 1) !important;
    @include sm {
      // font-size: 60px;
    }
    @include lg {
      margin-top: 50px;
      // font-size: 60px;
      margin-bottom: 75px;
      padding: 0;
    }
  }

  &-cat {
    &_icon {
      @include md {
        position: absolute;
        background: #fff;
        content: " ";
        top: 0;
        padding: 5px;
        left: 50%;
        height: 50px;
        width: 50px;
        padding: 10px;
      }


    }
  }

  &_cat {
    padding: 15px 0;
    font-size: 16px;
    text-transform: uppercase;
    font-size: 28px;
    color: rgba(3, 13, 54, .1) !important;
    @include md {
      font-size: 40px;
      margin: 0;
      line-height: 1em;
      padding: 0;
    }
    @include lg {
      font-size: 66px;
      margin-top: 280px;
    }
    font-weight: bold;
    color: rgba(0, 0, 0, 0.15);
  }

  &_content {


    b, strong {
      font-weight: 700;
      font-size: 1.1em;
    }

    padding: 15px;
    @include lg {
      padding: 30px;
    }
    @include xl {
      padding: 30px 60px;
    }
    @include xxl {
      padding: 60px 90px;
    }




    p {
      color: #536874;
      font-weight: 300;
    }

    p.position {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 25px;
      @include xxl {
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }

  }

  &_gallery {

    .project-gallery {
      .swiper-pagination-bullets, .swiper-pagination-fraction, .swiper-pagination {
        color: #fff;
        position: absolute !important;
        left: 45px !important;
        bottom: 15px !important;
        width: 50px !important;
        z-index: 1;
        font-weight: 600;
      }

      .swiper-button-prev-unique {
        position: absolute;
        bottom: 7.5px;
        left: 15px;
        width: calc(var(--swiper-navigation-size) / 44 * 27);
        height: var(--swiper-navigation-size);
        margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        transition: .5s;
        &:hover {
          color: #000;
        }
        }

        .swiper-button-next-unique {
          position: absolute;
          bottom: 7.5px;
          left: 100px;
          width: calc(var(--swiper-navigation-size) / 44 * 27);
          height: var(--swiper-navigation-size);
          margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
          z-index: 10;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          transition: .5s;
          &:hover {
            color: #000;
          }
          }


    }

    &__bottom {
      overflow: hidden;
      padding-top: 15px;
      padding-bottom: 25px;
      img {
        width: 100%;
        padding-bottom: 15px;
        padding-right: 15px;
      }



    }



  }

  .inbound-links {

    ul {
      padding: 0;
      margin: 35px 0 0 0;
      li {
        display: block;
        margin-right: 40px;
        @include lg {
          display: inline-block;
        }
        a {
          text-transform: uppercase;
          color: #fff;
          font-weight: 700;
          font-size: 20px;
          &:hover {
            color: #000;

            &:after {
                margin-top: 10px;
                display: block;
                content: "";
                width: 100px;
                height: 15px;
                background: #000;
                transition: 0.5s;
            }

          }
          &:after {
              margin-top: 10px;
              display: block;
              content: "";
              width: 100px;
              height: 15px;
              background: #fff;
              transition: 0.5s;
          }
        }

        a.back {
          color: #000;
          opacity: .5;
          &:hover {
            color: #000;
            opacity: 1;

            &:after {
                margin-top: 10px;
                display: block;
                content: "";
                width: 100px;
                height: 15px;
                background: #000;
                transition: 0.5s;
                opacity: 1;
            }

          }
          &:after {
              background: #000;
              opacity: .5;
          }
        }

      }
    }
  }




}


.footer-news {

  &-item {

    &_wrap {
      position: relative;
      height: 100%;
    }

    &.viewall {
      position: relative;
      padding: 25px !important;
      text-transform: uppercase;

      p {
        font-weight: 700;
        font-size: 40px;
        @include md {
          font-size: 60px;
        }
        color: #D4D4D4;
      }

      a {
        position: absolute;
        bottom: 15px;
        // left: 25px;
        color: #242624;
        font-weight: 700;
        &:hover {
          color: #DB0812;
        }
      }

      &:after {

        @include md {
          height: 30px;
          width: 30px;
          position: absolute;
          top: -50px;
          right: 0;

          content: " ";
          background: #fff;
          z-index: 8009;
        }
        @include lg {
          height: 50px;
          width: 50px;
        }
      }

    }

    &_cat {
      color: #DB0812;
      position: absolute;
      bottom: 0;
      left: 15px;
    }

    .hover {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      position: absolute;
      background: rgba(36,38,36,.9);
      padding: 15px;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      @include xxxl {
        padding: 20px;
        top: 25px;
        left: 25px;
        right: 25px;
        bottom: 25px;
      }

      // display: none;
      transition: .5s;
      opacity: 0;
      color: #fff;
      p {
        font-size: .75em;
        @include xxl {
          font-size: 1em;
        }
      }
      p.position {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 25px;
        @include xxl {
          margin-bottom: 50px;
        }
      }
      p.name {

        font-weight: 700;
        margin-bottom: 25px;
        @include xxl {
          margin-bottom: 50px;
          font-size: 24px;
        }
      }
      a {
        color: #C4080F;
        font-weight: 700;
        &:hover {
          color: #fff;
        }
      }
    }

    &:hover {
      .hover {
        // display: block;
        opacity: 1;
      }
    }


  }


}
